@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --light: 0 0% 100%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 220 11.11% 15.88%;
    --input: 220 11.11% 15.88%;

    --primary: 240, 5.9%, 10%;
    --primary-foreground: 0, 0%, 98%;
    --primary-main: 221.2 83.2% 53.3%;

    --light-gray: 210 20% 94%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 99% 67%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;
    --header-h: 6.5rem;

    --dark-gray: 0 0% 71%;
    --dark-stroke: 220 11% 16%;
    --opacity-white-60: 0 0% 100% 0.6;

    --success: 135 59% 49%;
    --error: 0 99% 67%;
    --warning: 48 100% 50%;
    --success-light: 135 59% 49%;
    --error-light: 0 99% 67%;
    --warning-light: 48 43% 29%;

    --surface: 220 11% 11%;
    --dark-gray: 0 0% 71%;

    --divider: 240 85% 90%;
  }

  .dark {
    --background: 210 17% 5%;
    --foreground: 0 0% 98%;
    --light: 0 0% 100%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 0 0% 88%;

    --popover: 210 17% 5%;
    --popover-foreground: 0 0% 98%;

    --card: 210 17% 5%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0, 0%, 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 99% 67%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;
  }
}

@layer base {
  * {
    @apply border-border font-sans;
  }

  html,
  body {
    @apply bg-background text-foreground font-sans font-light;
  }
}

@layer utilities {
}

@layer components {
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
